.panda-bg-info {
  background: #fceae8;
}
.categories img {
  width: 100px;
}
.panda-buy-now-button {
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
}
.bg-yellow {
  background-color: #ffa500;
}
.bg-purple {
  background-color: orchid;
}
.bg-blue {
  background-color: blue;
}
